---
---

<section class="mb-8">
  <div class="mb-6">
    <h1
      class="font-bold text-text-heading text-center text-4xl md:text-5xl pt-4 pb-2 overflow-hidden"
    >
      <span
        class="bg-gradient-to-bl bg-no-repeat bg-bottom bg-[length:90%_40%] from-primary-blue to-primary-blue dark:from-primary-blue dark:to-primary-blue"
      >
        Bosco Correa
      </span>
    </h1>
    
  </div>
  <div>
    <p class="mb-5">
      <br />
      <img
        class="float-right object-cover rounded-full items-end h-36"
        src="https://media.licdn.com/dms/image/C4E03AQG3Xz9rjSnl4g/profile-displayphoto-shrink_400_400/0/1596048694184?e=1694649600&v=beta&t=tIchXWHGBaQGYjXrSprEV24M_1kF99m__7LFrF8eWz4"
        alt=""
      />
      Hello folks, <br />
      I’m Bosco Correa, a SDET at <b>Media.net</b> for past 4.5 years, <br />
      I have a bachelor’s degree in information technology <br />
      & a post graduate in data science.
      <br />
      <br />
      I’m passionate about <a href="" style="pointer-events: stroke;"
        >software testing</a
      >, <br />
      automation, machine learning and <a href="">artificail intelligence.</a>
      <br />
      <br />
      I have experience in designing, developing, and executing automated tests for
      web and knowledge of mobile applications. I have a strong background in programming,
      testing methodologies, and quality assurance. I have worked with various tools
      and frameworks such as
      <i>
        <a href="https://selenium.dev">Selenium</a>, TestNG, Cucumber, Jenkins,
        and Git
      </i>. I have also contributed to the development of <i>
        test automation strategies, test plans, and test cases.
      </i>I enjoy working in agile teams and ̰ collaborating with developers,
      product owners, and other testers. I’m always eager to learn new
      technologies and improve my skills. <br />
      I’m also a certified ISTQB tester
    </p>
    <!-- <p class="text-center whitespace-nowrap overflow-auto">
      <code class="py-1 px-2">npx create-blogster@latest --theme bubblegum</code
      >
    </p> -->
  </div>
</section>
